<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Галерея фильмов</title>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--  <h1>Галерея фильмов</h1>-->
<!--</header>-->

<!--<form action="/movies" method="get">-->
<!--  <input type="text" name="search" placeholder="Поиск по названию" value="${search}">-->
<!--  <select name="genre">-->
<!--    <option value="">Все жанры</option>-->
<!--    <option value="Action" ${genre == "Action" ? "selected" : ''}>Action</option>-->
<!--    <option value="Drama" ${genre == 'Drama' ? 'selected' : ''}>Drama</option>-->
<!--    <option value="Comedy" ${genre == 'Comedy' ? 'selected' : ''}>Comedy</option>-->
<!--    &lt;!&ndash; Добавьте другие жанры по необходимости &ndash;&gt;-->
<!--  </select>-->
<!--  <button type="submit">Поиск</button>-->
<!--</form>-->

<!--<div class="movie-gallery">-->
<!--  <ul>-->
<!--    <c:forEach var="movie" items="${movies}">-->
<!--      <li>-->
<!--        <a href="/movies/${movie.id}">-->
<!--          <img src="${movie.imageUrl}" alt="${movie.title}">-->
<!--          <h2>${movie.title}</h2>-->
<!--        </a>-->
<!--      </li>-->
<!--    </c:forEach>-->
<!--  </ul>-->
<!--</div>-->

<!--<footer>-->
<!--  <p>&copy; 2023 Кинотеатр. Все права защищены.</p>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->
