<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="ru-ru" lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о фильме</title>
    <link rel="stylesheet" href="/css/movie_session_styles.css">
</head>
<body>
<header>
    <h1 th:text="${movie.title}"></h1>
</header>

<main>
    <div class="movie-info">
        <img src="" th:alt="${movie.title}" class="movie-poster">
        <div class="description">
            <h2>Описание</h2>
            <p>
                <strong>Жанр:</strong>
                <th:block th:text="${movie.genre}"></th:block>
            </p>
            <p>
                <strong>Длительность (минуты):</strong>
                <th:block th:text="${movie.duration}"></th:block>
            </p>
        </div>
    </div>

    <h2>Сеансы</h2>
    <div class="sessions" th:each="session_arg : ${sessions}">
        <a class="link-div" th:href="@{/movie_info/session/{sessionId}(sessionId=${session_arg.id})}">
            <div class="session-card">
                <p>
                    <strong>Время:</strong>
                    <th:block th:text="${session_arg.dateTime}"></th:block>
                </p>
            </div>
        </a>
    </div>
</main>

<footer>
</footer>
</body>
</html>
