<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="ru-ru" lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея фильмов</title>
    <link rel="stylesheet" href="/css/movie_list_styles.css">
</head>
<body>
    <header>
        <h1>Галерея фильмов</h1>
        <div class="search-container">
            <form th:action="@{/movies}" method="post" class="search-form">
                <input type="text" placeholder="Поиск фильмов..." id="search" name="search" th:value="${search}">
            </form>
            <button id="add-movie-btn" onclick="document.location = '/edit_movies'">Добавить фильм</button>
        </div>
    </header>

    <main>
        <div class="gallery" id="movie-gallery">

            <div class="movie-card" th:each="movie : ${movies}">
                <img src="" th:alt="${movie.title}">
                <h3 th:text="${movie.title}"></h3>
                <p th:text="${movie.genre}"></p>
            </div>

        </div>
    </main>
</body>
</html>
