<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>${movie.title}</title>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--  <h1>${movie.title}</h1>-->
<!--</header>-->

<!--<div class="movie-detail">-->
<!--  <img src="${movie.imageUrl}" alt="${movie.title}">-->
<!--  <p><strong>Описание:</strong> ${movie.description}</p>-->
<!--</div>-->

<!--<a href="/movies">Назад к галерее</a>-->

<!--<footer>-->
<!--  <p>&copy; 2023 Кинотеатр. Все права защищены.</p>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->
