<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="ru-ru" lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея фильмов</title>
    <link rel="stylesheet" href="/css/movie_list_styles.css">
</head>
<body>
    <header>
        <h1>Галерея фильмов</h1>
        <div class="search-container">
            <input type="text" placeholder="Поиск фильмов..." id="search">
            <button id="filter-btn">Фильтры</button>
            <button id="add-movie-btn">Добавить фильм</button>
        </div>
    </header>

    <div class="form-container" id="movieForm" style="display:none;">
        <h2>Добавить фильм</h2>
        <form action="#" th:action="@{/movies/add}" th:object="${movie_form}" method="post">
            <label for="title">Название:</label>
            <input id="title" type="text" name="title" required th:field="*{title}"><br>

            <label for="genre_form">Жанр:</label>
            <input id="genre_form" type="text" name="genre" required th:field="*{genre}"><br>

            <label for="duration">Длительность:</label>
            <input id="duration" type="number" name="duration" required th:field="*{duration}"><br>

            <input type="submit" value="Добавить фильм">
        </form>
    </div>

    <main>
        <div class="gallery" id="movie-gallery">

            <div class="movie-card" th:each="movie : ${movies}">
                <img src="" th:alt="${movie.title}">
                <h3 th:text="${movie.title}"></h3>
                <p th:text="${movie.genre}"></p>
            </div>

        </div>
    </main>

    <div id="filter-popup" class="popup">
        <div class="popup-content">
            <span class="close" id="close-popup">&times;</span>
            <h2>Фильтры</h2>
            <form id="filter-form">
                <label for="genre">Жанр:</label>
                <select id="genre">
                    <option value="all">Все</option>
                    <option value="action">Экшен</option>
                    <option value="comedy">Комедия</option>
                    <option value="drama">Драма</option>
                    <!-- Добавьте больше жанров -->
                </select>
                <label for="rating">Рейтинг:</label>
                <input type="number" id="rating" min="1" max="10" step="0.1" placeholder="От 1 до 10">
                <button type="submit">Применить</button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('add-movie-btn').onclick = function() {
            let form = document.getElementById('movieForm');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        };
    </script>
</body>
</html>
