<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="ru-ru" lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование билетов</title>
    <link rel="stylesheet" href="/css/ticket_reservation_styles.css">
</head>
<body>
<header>
    <h1>Бронирование билетов</h1>
</header>

<main>
    <h2>Выберите места</h2>

    <form th:action="@{/ticket_selection/{sessionId}/reserve(sessionId=${reservation_session})}" id="main-form"
          method="post">
    </form>

    <div class="seating-chart">
        <form th:each="session_seat : ${seats}"
              th:action="@{/ticket_selection/{sessionId}/select/{seatNumber}(sessionId=${reservation_session}, seatNumber=${session_seat.number})}"
              th:id="'sub-form' + ${session_seat.number}" method="post">
            <button th:form="'sub-form' + ${session_seat.number}" type="submit" class="seat" th:text="${session_seat.number}"
                    th:data-status="${session_seat.status}">
            </button>
        </form>
    </div>

    <button form="main-form" type="submit" class="btn">Забронировать</button>
</main>

<footer>
</footer>
</body>
</html>
